<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NamespaceTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sqiftSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>552D1BE81AB6ABA2007359B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552D1BFD1AB6ABA2007359B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>555B21641ABDF20700AF4102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>555B216E1ABDF20700AF4102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
